/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@500;600;700&family=Poppins:wght@500;600;700&family=Roboto:wght@400;500;700&display=swap'); */
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;

  --animate-bounce-slow: bounce 3s infinite;
  --animate-float: float 5s ease-in-out infinite;

  /* Custom Keyframes */
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  /* Custom Colors from your UI */
  /* --color-clinic-green: #235347; 
  --color-clinic-yellow: #F6AA3D; */
  --color-clinic-green: #053b32; /* Aapka green shade */
  --color-clinic-yellow: #dfff4f; /* Aapka yellow shade */
  --color-clinic-text: #E5E7EB;
  --color-clinic-mint: #E6F4F1;
  --color-clinic-teal: #0F766E;
}
.swiper,
.swiper-wrapper,
.swiper-slide {
  background-color: white !important;
}

